.blog-page {

    .featured-section {
        .hero-post-card {
            img {
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
            }
        }
    }
    
}