.projects-page {
    .hero-banner-section {

        .hero-project-card {
            position: relative;
            border-radius: $border-radius-sm;
            overflow: hidden;
            .image-div {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text-div {
                position: absolute;
                z-index: 1;
                bottom: 0;

            }
            .wrapper {
                min-width: 234px;
            }
        }
        .side-projects-card {
            position: relative;
            flex: 1;
            max-height: 228px;
            overflow: hidden;
            border-radius: $border-radius-sm;
            overflow: hidden;
            .image-div {
                height: 100%;
            }
            .text-div {
                position: absolute;
                z-index: 1;
                bottom: 0;

            }
            .wrapper {
                min-width: 234px;
            }
        }
    }

    .projects-section {
        .project-card {
            overflow: hidden;
            border-radius: $border-radius-sm;
        }
    }
}