

.hero-banner {
    background-color: $primary-5;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: $primary-7;
    }

    h1 {
        color: $white;
    }
    p {
        color: $white;
    }
}

// Logo Cloud Section
.logo-cloud-section {

    p {
        font-size: 20px;
        font-weight: 600;
        color: $text-3;
    }

    .logo-cloud-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-cloud-item {
            min-height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

// Features Section
.features-section {
    .text-div {
        .wrapper {
            max-width: 464px;
        }
    }

    .line {
        max-width: 120px;
        height: 2px;
    }
}