// Typography
@mixin h1 {
    font-size: clamp(40px, 5vw, 48px);
  }
  @mixin h2 {
    font-size: clamp(32px, 4vw, 40px);
  }
  @mixin h3 {
    font-size: 30px;
  }
  @mixin h4 {
    font-size: 24px;
  }
  @mixin h5 {
    font-size: 18px;
  }
  @mixin h6 {
    font-size: 18px;
  }
  @mixin p {
    font-size: 16px;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1em;
    color: $text-7;
  }
  @mixin a {
    font-family: $font-family;
    color: $primary-7;
    &:hover,
    &:focus,
    &:active {
      color: $primary-8;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  @mixin ul {
    font-family: $font-family;
    color: $text-5;
  }
  @mixin select {
    font-family: $font-family;
    color: $text-3;
    padding: 0.5rem;
    appearance: none;
    // background-image: url('../images/icons/select-dropdown-arrow.svg');
    // background-size: 24px 24px;
    // background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-color: $white;
    border: 1px solid $text-5;
    border-radius: $border-radius-md;
  }
  
  
  @mixin typography {
    body {
      // Typography Resets
      font-family: $font-family;
      --e-global-typography-text-font-family: #{$font-family};
      
      // Website Typography
      h1,h2,h3,h4,h5,h6 {
        font-family: $font-family;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0.6em;
        color: $text-3;
      }
      h1 {
        @include h1;
      }
      h2 {
        @include h2;
      }
      h3 {
        @include h3;
      }
      h4 {
        @include h4;
      }
      h5 {
        @include h5;
      }
      h6 {
        @include h6;
      }
      p {
        @include p;
      }
      a {
        @include a;
      }
      ul {
        @include ul;
      }
      select {
        @include select;
      }
    }
  }
  
  // Additional typography mixins
  @mixin p-large {
    font-size: 18px;
  }
  @mixin p-small {
    font-size: 15px;
  }
  @mixin caption-large {
    font-size: 14px;
    line-height: 1.4;
  }
  @mixin caption-small {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.4px;
  }
  @mixin tag-large {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 2px;
  }
  @mixin tag-small {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 2px;
  }
  
  
  
  //
  // CTA / Buttons
  //
  @mixin btn-standard {
    $height: 48px;
    height: $height;
    cursor: pointer;
    display: inline-flex;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    transition: none;
    outline: 0;
    border: 2px solid $primary-7;
    border-radius: $btn-radius;
    box-shadow: none;
    background-color: $primary-7;
    color: $white;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    text-align: center;
    line-height: 1;
    padding: 12px 24px;
    min-width: 150px;
    @media (max-width: $md) {
      min-width: 140px;
    }
  
    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      outline: 0;
      color: $white;
      text-decoration: none;
    }
  
    &:hover {
      background: $primary;
      border: 2px solid $primary;
      transition: all 0.3s ease;
    }
    &:active {
      background: $primary-8 !important;
      border: 2px solid $primary-8 !important;
    }
    &:focus-visible {
      background: $primary-7;
      border: 2px solid $primary-7;
      outline: 2px solid $primary-7;
      outline-offset: 2px;
    }
  }
  @mixin btn-primary {
    @include btn-standard;
  }
  @mixin btn-secondary {
    @include btn-standard;
    background: $white;
    color: $primary-7;
    border: 2px solid $primary-7;
  
    &:hover,
    &:focus,
    &:active {
      color: $primary-7;
    }
  
    &:hover {
      background: $primary-9;
    }
    &:active {
      background: $primary-10 !important;
    }
    &:focus-visible {
      background: $primary-9;
      outline: 2px solid $primary-9;
      outline-offset: 2px;
    }
  }
  @mixin btn-secondary-transparent {
    @include btn-secondary;
    background: transparent;
    color: $white;
    border: 2px solid $white;
    border-radius: $border-radius-lg !important;
  
    &:hover,
    &:focus,
    &:active {
      color: $white;
      border: 2px solid $white !important;
    }
  
    &:hover {
      background: rgba($white, 0.11);
    }
    &:active {
      background: rgba($white, 0.20) !important;
    }
    &:focus-visible {
      background: rgba($white, 0.11);
      outline: 2px solid $white;
      outline-offset: 2px;
    }
  }
  @mixin btn-tertiary {
    @include btn-secondary;
    background: $white;
    color: $primary;
    border: 2px solid $primary;
    border-radius: $border-radius-sm !important;
    min-width: 158px;
  
    &:hover,
    &:focus,
    &:active {
      color: $primary;
    }
  
    &:hover {
      background: $primary-1;
    }
    &:active {
      background: $primary-3 !important;
    }
    &:focus-visible {
      background: $primary-1;
      outline: 2px solid $primary;
      outline-offset: 2px;
    }
  }
  @mixin btn-blog-category {
    @include btn-secondary;
    background: $white;
    color: $primary;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm !important;
    min-width: 158px;
  
    &:hover,
    &:focus,
    &:active {
      color: $text-1;
    }
  
    &:hover {
      background: $primary-1 !important;
    }
    &:active {
      background: $text-e !important;
      border: 1px solid $border-color !important;
    }
    &:focus-visible {
      background: $primary-1 !important;
      outline: 2px solid $primary;
      outline-offset: 2px;
    }
  }
  
  @mixin btn-find-out-more {
    @include btn-standard;
    background: transparent;
    color: $primary-6;
    border: 2px solid $primary-6;
    border-radius: $btn-radius;
    padding-left: 0;
  
    &:hover{
      color: $white;
      background: $primary-7;
    }
    &:focus,
    &:active {
      color: $white;
      background: $primary-8;
    }
  }
  
  
  
  
  //
  // Disable tapping highlight on mobile (i.e. hamburger toggle)
  //
  @mixin disable-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  
  
  //
  // Sliders
  //
  @mixin slider {
    position: relative;
  
    $item-gap: 24px;
    $item-gap-m: 40px;
  
    margin-left: -#{$item-gap / 2};
    margin-right: -#{$item-gap / 2};
    @media (max-width: $md) {
      margin-left: -#{$item-gap-m / 2};
      margin-right: -#{$item-gap-m / 2};
    }
  
    .slick-track {
      display: flex;
    }
    .slick-slider {
      margin-bottom: 0px;
    }
    .slick-slide,
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: #{$item-gap / 2};
      margin-right: #{$item-gap / 2};
      @media (max-width: $md) {
        margin-left: #{$item-gap-m / 2};
        margin-right: #{$item-gap-m / 2};
      }
    }
    .slick-prev,
    .slick-next {
      z-index: 99999;
      &:before {
        content: '';
        display: block;
        background-image: url('../images/icons/chevron-arrow-left-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 14px;
        height: 20px;
      }
    }
    .slick-prev {
      right: auto; //reset
      @media (max-width: $md) {
        left: 22px;
      }
      left: -7px;
      @media (min-width: $xxl) {
        left: -27px;
      }
    }
    .slick-next {
      left: auto; // reset
      rotate: 180deg;
      transform-origin: top;
      @media (max-width: $md) {
        right: 22px;
      }
      right: -7px;
      @media (min-width: $xxl) {
        right: -27px;
      }
    }
    ul.slick-dots {
      bottom: -32px;
      li {
        margin: 0 3px;
        button {
          padding: 0;
          &:before {
            font-size: 14px;
            line-height: 22px;
            color: #888;
          }
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
  
  
  // Gravity Form mixin
  @mixin gravity-form { 
    #gform_wrapper_1,
    #gform_wrapper_2,
    #gform_wrapper_3 {
      text-align: left;
      background-color: $white;
      padding: 24px;
      border: 3px solid $border-color;
      border-radius: $border-radius-xl;
      @media (max-width: $lg) {
        margin-top: calc(#{$side-padding-m} * 2);
      }
  
      .gform_title {
        @include h4;
      }
  
      input {
        &::placeholder {
          color: $text-7;
        }
      }
      
  
      fieldset { // Full name fieldset
        width: calc(100% - 0px);
        @media (max-width: $md) {
          width: calc(100%);
        }
      }
  
      .gform_description {
        font-size: 14px;
        color: $text-7;
      }
  
      // Default layouts
      .gform_fields {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5em;
  
        .gfield {
          &:has(.medium) {
            width: calc(50% - 8px);
            @media (max-width: $md) {
              width: calc(100%);
            }
          }
          &:has(.large) {
            width: calc(100%);
          }
          &.gfield--type-captcha { // reCAPTCHA
            label {
              display: none; // hide label
              &:after {
                display: none; // hide optional text
              }
            }
          }
          .medium {
            inline-size: 100% !important;
          }
        }
      }
  
      // Default label styling
      .gform-field-label {
        .gfield_required {
          display: none; // Hide the "required" text
        }
        &:not(:has(.gfield_required))::after {
          content: '(optional)';
          font-style: italic;
          color: $text-7;
        }
      }
  
      .textarea {
        min-block-size: auto;
        height: 6rem;
        @media (max-width: $md) {
          height: 8rem;
        }
      }
  
      input[type="submit"] {
        @include btn-primary;
        line-height: 0;
        min-width: 200px;
      }
  
  
      // Hide unwanted max character counter
      .ginput_counter {
        display: none;
      }
    }
  
    // Hide unwanted reCAPTCHA v3 badge
    .grecaptcha-badge {
      display: none !important;
    }
  }
  
  // Scrollbar X mixin
  @mixin scrollbar-x {
    overflow-x: auto;  // Enable horizontal scrolling
    padding-bottom: 24px; // Add padding to prevent content from touching scrollbar
    width: 100%;
    
    // Optional: Improve scrollbar appearance
    &::-webkit-scrollbar {
      height: 8px; // Scrollbar height
    }
    
    &::-webkit-scrollbar-track {
      background: #E3E3E3; // Light gray track
      border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #6E6E6E; // Gray thumb
      border-radius: 4px;
    }
  }
  
  
  //
  // Ellipsis mixin
  //
  @mixin ellipses-2-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  // number of lines to show
  }
  @mixin ellipses-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;  // number of lines to show
  }


  // Additional Helper classes
  .tag-small {
    font-size: 16px;
    line-height: 1.3;
  }
  .tag-large {
    font-size: 20px;
    
  }